#footer-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    p {
        text-align: center;
    }
    a {
        color: $main-orange;
        text-decoration: none;
    }
    a:visited {
        color: $main-orange;
    }
}