#getstarted-wrapper {
    color:lightslategray;
    .container {
        padding: 30px 75px 75px 75px;
    }
    h2 {
        font-weight: bold;
    }
    strong {
        color: #000;
        font-style: italic;
    }
    button {
        font-size: 24px;
        text-transform: uppercase;
    }
//------------MEDIA QUERIES------------------
    @media screen and (max-width: 500px) {
        button {
            width: 150px;
            white-space: normal;
        }
        h2 {
            width: 150px;
        }
    }
}